/* Общие стили */
body {
  margin: 0;
  font-family: 'Segoe Print', cursive; /* Определяем шрифт */
}

header {
   background: radial-gradient(
        circle at 50% 50%, /* Центрирование градиента */
        rgba(254, 201, 195, 1) 43.18%, /* Первый цвет с позицией */
        rgba(250, 242, 221, 1) 95.45% /* Второй цвет с позицией */
    );
   text-shadow:
      -1px -1px 0 #90726f,
       1px -1px 0 #90726f,
      -1px  1px 0 #90726f,
       1px  1px 0 #90726f; /* Цвет обводки */
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}
main h1{
   text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form fieldset {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
   background: radial-gradient(
        circle at 50% 50%, /* Центрирование градиента */
        rgba(254, 201, 195, 1) 43.18%, /* Первый цвет с позицией */
        rgba(250, 242, 221, 1) 95.45% /* Второй цвет с позицией */
    );
   text-shadow:
      -1px -1px 0 #90726f,
       1px -1px 0 #90726f,
      -1px  1px 0 #90726f,
       1px  1px 0 #90726f; /* Цвет обводки */
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background: #fec9c3;
}

